body{
    background-color: #0ad1d1;
}

  #newItem {
    padding: 5px;
    width: 70%;
    border: 1px solid #030303;
    border-radius: 5px;
    margin-right: 5px;
  }
  
  #addButton {
    padding: 15px;
    border-radius: 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
  }
  
  #list {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: #000000;
    color: white;
    border: none;
    width: 70%;
  }

  .removeButton {
    padding: 2px 10px;
    border-radius: 10px;
    background-color: #f44336;
    color: white;
    border: none;
    float: right;
  }

  .number {
    width: 30px;
    font-weight: bold;
    margin-right: 5px;
    text-align: right;
  }